<div class="card card-stats">
    <div class="card-header" data-background-color="red">
        <i class="material-icons fa fa-terminal"></i>
    </div>
    <div class="card-content">
        <p class="category">Create</p>
        <h3 class="title">Bash Script</h3>
        <form>
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Capsule Collection</label>
                    <md-select ng-model="model.capsuleName" class="form-control">
                        <md-option ng-value=""><em>None</em></md-option>
                        <md-option ng-repeat="name in model.capsuleNames" ng-value="name">
                            {{name}}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group label-floating">
                        <label class="control-label">File Name</label>
                        <input type="text" class="form-control" ng-model="model.name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-group" ng-click="model.SaveScriptLocation()">
                    <span class="input-group-addon">
                        <i class="fa fa-folder-o"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Export Location" ng-model="model.outputLocation" disabled>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <md-chips ng-show="model.gitFolders.length > 0">
                        <md-chip ng-repeat="git in model.gitFolders"> {{ git.file.name }}</md-chip>
                    </md-chips>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Comment</label>
                        <div class="form-group label-floating">
                            <label class="control-label">Comment will appear script is ran</label>
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" ng-click="model.exportSh()">Export</button>
            <div class="clearfix"></div>
        </form>

    </div>
</div>