<ul class="nav">
    <li ng-click="model.changeState()">
        <a>
            <i class="fa fa-bars"></i>
            <p>All</p>
        </a>
    </li>
    <li ng-repeat="capsulename in model.capsuleNames" ng-click="model.changeState(capsulename)">
        <a>
            <i class="fa fa-code-fork"></i>
            <p>{{capsulename.name}}</p>
        </a>
    </li>
    <li ng-click="model.PromptNewCapsule()">
        <a>
            <i class="fa fa-plus-square"></i>
            <p>Add New</p>
        </a>
    </li>
</ul>