<ul class="nav">
    <!--<li ng-click="model.changeState()">
        <a>
            <i class="fa fa-bars"></i>
            <p>All</p>
        </a>
    </li>-->
    <li ng-repeat="capsule in model.capsules" ng-click="capsule.goto()" ng-class="{'active':capsule.selected}">
        <a>
            <i class="fa fa-code-fork"></i>
            <p>{{capsule.name}}</p>
        </a>
    </li>
    <li ng-click="model.PromptNewCapsule()">
        <a>
            <i class="fa fa-plus-square"></i>
            <p>Add New</p>
        </a>
    </li>
</ul>