<md-content flex>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-display-1">Git Capsule</span>
                <span class="md-subhead"> Version. {{model.version}} </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions>
            <md-button ng-disabled="true" class="md-primary md-raised"> Configuration </md-button>
            <md-button class="md-primary md-raised" ng-click="model.PromptNewCapsule()"> Add New Capsule </md-button>
            <md-button class="md-primary md-raised" ui-sref='root.home.create'>Create Bash Script</md-button>
        </md-card-actions>
    </md-card>

    <md-card ng-repeat="collection in model.capsuleCollections">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2 flex md-truncate> {{ collection.name }} | Count: ({{collection.capsules.length}})</h2>
                <md-button aria-label="Expand" ng-click="collection.show = !collection.show">
                    <span class="ti-more-alt"></span>
                </md-button>
            </div>
        </md-toolbar>
        <md-card-content ng-show="collection.show">
            <table class="pure-table pure-table-bordered" flex>
                <thead>
                    <tr>
                        <th>FileName</th>
                        <th>CreatedOn</th>
                        <th>Repos#</th>
                        <th>Comment</th>
                        <th>Action(s)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="capsule in collection.capsules">
                        <!--<td> {{capsule}} </td>  -->
                        <td>{{capsule.fileName}}</td>
                        <td>{{capsule.createdOn}}</td>
                        <td>{{capsule.numberOfProject}}</td>
                        <td>{{capsule.comment}}</td>
                        <td>
                            <md-button class="md-raised md-primary" ng-click="model.ShowDetail(capsule.json)">Detail</md-button>
                            <md-button class="md-raised md-warn">Delete</md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-card-content>
    </md-card>
</md-content>